{% extends 'base.html.twig' %}

{% block javascripts %}
     <script src="{{asset('js/pet_details.js')}}" defer></script> 
{% endblock %}

{% block body %}
<div id="details-wrapper" class="mt-4">
  <div class="row ml-2 mr-2">
  {% if pet.getPhotos() is null or pet.getPhotos() is empty %}

            {% else %}
                        {% for single in pet.getPhotos() %}
                        <div class="column">
                            <img src="{{asset('uploads/pets_images/' ~ single)}}" alt="..." onclick="myFunction(this);">
                        </div>
                        {% endfor %}

  {% endif %}
 </div>

<!-- The expanding image container -->
<div class="container-gallery">
  <!-- Close the image -->

  <!-- Expanded image -->
  <img id="expandedImg" style="width:80%; height: 500px;" src="{{asset('uploads/pets_images/' ~ pet.getPhotos()[0])}}" alt="...">

  
</div>
<div id="details-content" class="mt-3">
    <div class="details-subcontent">
      <span class="titles">Name:</span>
      <span class="description-content">{{pet.name}}</span>
    </div>
    <div class="details-subcontent">
      <span class="titles">Description:</span>
      <span class="description-content">{{pet.description}}</span>
    </div>
    <div class="details-subcontent">
      <span class="titles">Added on:</span>
      <span class="description-content">{{pet.createdAt|date("d/m/Y")}}</span>
    </div>
    <div class="details-subcontent">
      <span class="titles">Added by:</span>
      <div class="description-content flex">
          <img id="user-avatar-small" src="{{asset('uploads/avatars/' ~ pet.getUser().getAvatar())}}" />
          <span>{{pet.getUser().name}}</span>
      </div>
    </div>
  </div>

</div>

{% endblock %}