{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4" id="sidebar-content">
            Sidebar
        </div>
        <div class="col-sm-8" id="main-content">
            {% for pet in pets %}
                    <div class="card mb-4" style="width: 100%;">
                        {% if pet.getPhotos() is null %}
                            <img class="card-img-top" src="{{ asset('images/No_image_available.png') }}" alt="Card image cap">

							{% else %}
								<img src="{{asset('uploads/pets_images/' ~ pet.getPhotos()[0])}}" class="card-img-top" alt="...">

							{% endif %}
                        <div class="card-body">
                            <div id="name-age">
                            <h5 class="card-title">{{pet.name}}</h5>
                            <h6 class="card-title">{{pet.age}} months old</h6>
                            </div>
                            <a href="{{ path('pets_edit', {id:pet.id}) }}" class="btn btn-warning">More details</a>
                            <p class="created_at"><i>created at: {{pet.createdAt|date("d/m/Y")}}</i></p>

                        </div>
                    </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}
